

<h1>User Profile</h1>
<hr>

<div class="row">
   <div class="col-md-2">
     <br />
     <% avatar_url = @user.avatar_url(138) %>
     <% if avatar_url %>
       <div class="media-left">
         <%= image_tag avatar_url, class: 'media-object' %>
       </div>
     <% end %>
   </div>


     <div class="col-md-10">
       <h3 class="media-heading"><%= @user.name %></h3>
       <% if @user.premium? || @user.admin? %>
         <span style="color:red"><%= @user.role.capitalize %></span>
       <% else %>
         <span style="color:green"><%= @user.role.capitalize %></span>
       <% end %>
       account type<br>
       <p><span style="font-weight:bold;">Email: </span><%= @user.email %><br>
       <span style="font-weight:bold;">Last signed in: </span><%= @user.last_sign_in_at %><br>
       <span style="font-weight:bold;">Member since: </span><%= @user.created_at %></p>
       <p><span style="font-weight:bold;">Number of to-do items: </span><%= 300 %><br></p>
     </div>

 </div>
 <br>

 <%= link_to "Edit Registration", edit_user_registration_path, class: 'btn btn-primary' %>

<br>

 <div class="row">
     <div class="col-md-12">
         <h3>Your To-Do List</h3>
         <table class="table table-bordered table-striped">
           <thead>
             <tr>
               <th>Description</th>
               <th>Days left</th>
               <th>Complete</th>
             </tr>
           </thead>
           <tbody>
             <% @items.each do |item| %>
               <tr>
                 <%= render partial: 'items/item', locals: {item: item} %>
              </tr>
             <% end %>
          </tbody>
        </table>
     </div>

 </div>
