<% if @item.errors.any? %>

      <div class="alert alert-danger">

        <h4><%= pluralize(@item.errors.count, "error") %>.</h4>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>

<% end %>


 <div class="row">
     <div class="col-md-12">
         <h3>Your To-Do List</h3>
         <table class="table table-bordered table-striped">
           <thead>
             <tr>
               <th>Description</th>
               <th>Days left</th>
               <th>Complete</th>
             </tr>
           </thead>
           <tbody class="js-items">
                <% @items.each do |item| %>
                      <%= render partial: 'items/item', locals: {item: item} %>
                <% end %>
          </tbody>
        </table>
     </div>
<%# if policy(@items).new? %>

<div class="row">
    <div class="col-md-8">

  <%= form_for @item, url: user_items_path, remote: true do |f| %>

        <%= render partial: 'items/form', locals: {f: f} %>

      <br>
    <%= f.submit "Save", class: 'btn btn-success' %>
    <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
    <br>
  <% end %>

  <br>
  <%# link_to "New To-Do", new_user_item_path(user_id:current_user.id), class: 'btn btn-success' %>
  <br>
  <br>
<%# end %>
<br>

</div<
