<% if @item.errors.any? %>

      <div class="alert alert-danger">

        <h4><%= pluralize(@item.errors.count, "error") %>.</h4>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>

<% end %>


<h1>New To-Do item</h1>

<br>
<div class="row">

  <div class="col-md-8">
    <%= form_for @item, url: user_items_path do |f| %>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter to-do name" %>
        <%# render partial: 'form', locals: {f: f} %>
      </div>

      <%= f.submit "Save", class: 'btn btn-success' %>
      <br>
      <br>

    <% end %>
  </div>

  <div class="col-md-4">
    <br>
    <p> > Your chance to give yourself some work</p>

  </div>




</div>
